/application/config/database.php
/application/config/config.php
/application/logs/*.php
/uploads/*.adi
/uploads/*.ADI
/uploads/*.tq8
/uploads/*.TQ8
/install/*
/updates/*.xml
/updates/*.html
/updates/clublog_scp.txt
.idea/*
.DS_Store
sync.sh
.github/ISSUE_TEMPLATE/_notes/dwsync.xml
_notes/dwsync.xml
application/_notes/dwsync.xml
application/cache/_notes/dwsync.xml
application/config/_notes/dwsync.xml
application/config/test.txt
application/controllers/_notes/dwsync.xml
application/core/_notes/dwsync.xml
application/helpers/_notes/dwsync.xml
application/hooks/_notes/dwsync.xml
application/language/english/_notes/dwsync.xml
application/libraries/_notes/dwsync.xml
application/logs/_notes/dwsync.xml
application/migrations/_notes/dwsync.xml
application/models/_notes/dwsync.xml
application/third_party/_notes/dwsync.xml
application/views/_notes/dwsync.xml
application/views/adif/_notes/dwsync.xml
application/views/adif/data/_notes/dwsync.xml
application/views/api/_notes/dwsync.xml
application/views/awards/_notes/dwsync.xml
application/views/awards/cq/_notes/dwsync.xml
application/views/awards/dok/_notes/dwsync.xml
application/views/awards/dxcc/_notes/dwsync.xml
application/views/awards/sota/_notes/dwsync.xml
application/views/awards/wab/_notes/dwsync.xml
application/views/awards/wacral/_notes/dwsync.xml
application/views/backup/_notes/dwsync.xml
application/views/dashboard/_notes/dwsync.xml
application/views/eqsl/_notes/dwsync.xml
application/views/errors/_notes/dwsync.xml
application/views/errors/cli/_notes/dwsync.xml
application/views/errors/html/_notes/dwsync.xml
application/views/export/_notes/dwsync.xml
application/views/gridsquares/_notes/dwsync.xml
application/views/interface_assets/_notes/dwsync.xml
application/views/layout/_notes/dwsync.xml
application/views/lotw/_notes/dwsync.xml
application/views/messages/_notes/dwsync.xml
application/views/notes/_notes/dwsync.xml
application/views/qslprint/_notes/dwsync.xml
application/views/qso/_notes/dwsync.xml
application/views/radio/_notes/dwsync.xml
application/views/search/_notes/dwsync.xml
application/views/Settings/_notes/dwsync.xml
application/views/station_profile/_notes/dwsync.xml
application/views/statistics/_notes/dwsync.xml
application/views/update/_notes/dwsync.xml
application/views/user/_notes/dwsync.xml
application/views/view_log/_notes/dwsync.xml
application/views/view_log/partial/_notes/dwsync.xml
application/views/widgets/_notes/dwsync.xml
assets/_notes/dwsync.xml
assets/css/_notes/dwsync.xml
assets/fontawesome/_notes/dwsync.xml
assets/fontawesome/css/_notes/dwsync.xml
assets/fontawesome/js/_notes/dwsync.xml
assets/fontawesome/less/_notes/dwsync.xml
assets/fontawesome/metadata/_notes/dwsync.xml
assets/fontawesome/scss/_notes/dwsync.xml
assets/fontawesome/sprites/_notes/dwsync.xml
assets/fontawesome/svgs/brands/_notes/dwsync.xml
assets/fontawesome/svgs/regular/_notes/dwsync.xml
assets/fontawesome/svgs/solid/_notes/dwsync.xml
assets/fontawesome/webfonts/_notes/dwsync.xml
assets/i18n/_notes/dwsync.xml
assets/js/_notes/dwsync.xml
assets/js/leaflet/_notes/dwsync.xml
assets/js/leaflet/images/_notes/dwsync.xml
assets/plugins/quill/_notes/dwsync.xml
assets/plugins/select2/css/_notes/dwsync.xml
assets/plugins/select2/js/_notes/dwsync.xml
assets/plugins/select2/js/i18n/_notes/dwsync.xml
backup/_notes/dwsync.xml
images/_notes/dwsync.xml
images/icons/_notes/dwsync.xml
system/_notes/dwsync.xml
system/core/_notes/dwsync.xml
system/core/compat/_notes/dwsync.xml
system/database/_notes/dwsync.xml
system/database/drivers/_notes/dwsync.xml
system/database/drivers/cubrid/_notes/dwsync.xml
system/database/drivers/ibase/_notes/dwsync.xml
system/database/drivers/mssql/_notes/dwsync.xml
system/database/drivers/mysql/_notes/dwsync.xml
system/database/drivers/mysqli/_notes/dwsync.xml
system/database/drivers/oci8/_notes/dwsync.xml
system/database/drivers/odbc/_notes/dwsync.xml
system/database/drivers/pdo/_notes/dwsync.xml
system/database/drivers/pdo/subdrivers/_notes/dwsync.xml
system/database/drivers/postgre/_notes/dwsync.xml
system/database/drivers/sqlite/_notes/dwsync.xml
system/database/drivers/sqlite3/_notes/dwsync.xml
system/database/drivers/sqlsrv/_notes/dwsync.xml
system/fonts/_notes/dwsync.xml
system/helpers/_notes/dwsync.xml
system/language/_notes/dwsync.xml
system/language/english/_notes/dwsync.xml
system/libraries/_notes/dwsync.xml
system/libraries/Cache/_notes/dwsync.xml
system/libraries/Cache/drivers/_notes/dwsync.xml
system/libraries/Javascript/_notes/dwsync.xml
system/libraries/Session/_notes/dwsync.xml
system/libraries/Session/drivers/_notes/dwsync.xml
updates/_notes/dwsync.xml
uploads/_notes/dwsync.xml
updates/cty.xml.gz
